{{define "index"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Tracker</title>
    <link rel="shortcut icon" href="assets/image/logo-GT.png" />
    <link rel="stylesheet" href="assets/css/index.css" />
  </head>
  <body>
    {{template "header"}}
    <div class="page-index">
      <div class="title">
        <h1>Groupie Tracker</h1>
        <h2>Revive your best moments</h2>
      </div>
      <div class="dates-button">
        <a href="dates">
          <img src="assets/image/icons/calendar.png"/>
          Dates
          </a>
      </div>
      <div class="location-contain">
        <div class="white-block">
          <div class="location-container">
            <div class="title-container">
                <h2>Find more</h2>
            </div>
            <div class="image-concert">
              <div class="location-relation-button">
                <div class="location-button" onmouseout="reset_img()">
                    <a href="locations" onmouseover="chg_img_group(x = 0)">
                        <img class="icon" src="assets/image/icons/pin.png"/>
                        Location&#10095;
                    </a>
                </div>
                <div class="relation-button" onmouseout="reset_img()">
                    <a href="relation" onmouseover="chg_img_group(x = 2)">
                        <img class="icon" src="assets/image/icons/link.png"/>
                        Relation&#10095;
                    </a>
                </div>
              </div>
              <div class="location-button"></div>
              <div class="image-central"></div>   <!-- image -->
              <div class="groups-button" onmouseout="reset_img()">
                    <a href="artists" onmouseover="chg_img_group(x = 1)">
                        &#10094;Artists 
                        <img class="icon" src="assets/image/icons/group.png"/>
                    </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "footer"}}
  </body>
  <script src="assets/js/index.js"></script>
</html>
{{end}}