{{define "countryConcert"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/image/logo-GT.png" />
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="../assets/css/countryConcert.css" />
  </head>
  <body>
    {{template "header"}}
    <div class="page">
      <!-- si la longueur du tableau est > à 0 -->
      {{ $length := len .}} {{if gt $length 0}}
      <div class="artists-container">
        <div class="all-artists" id="content">
          {{range .}} 
          {{ $lnt := len .Locations.Locations}} 
          {{if gt $lnt 0}}
          {{template "content-countryConcert" .}}
          {{else if eq $length 1}}
          {{template "content-countryConcert" .}}
          {{end}}
          {{end}}
        </div>
      </div>
      <!-- si la longueur du tableau est = à 0 -->
      {{else}} {{template "not-found"}} {{end}}
    </div>
    {{template "footer"}}
  </body>
  <script src="../assets/js/country-concert.js"></script>
</html>
{{end}}